<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List✔</title>
    <link rel="icon" href="https://media1.giphy.com/media/4nIWEtNs0VDw0JgnTN/giphy.gif?cid=6c09b9521sdnn5la9wil0cij4wyxwzb3oybuictixkjxnqjp&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=s" id="fav" sizes="180pxx180px"  >
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block style %}
    {% endblock style %}
</head>
<body>

    {% block content %}


    {% endblock content  %}
</body>
</html>